a {
  text-decoration: none;
}
.top-bar-wrapper {
  width: auto;
  background-color: #e3e4e5;
  border-bottom: 1px solid #ddd;
}
.top-bar a,
.top-right li span {
  color: #999;
  line-height: 30px;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
}
.top-right a:hover {
  color: #f10215;
}

.top-bar {
  background-color: #e3e4e5;
  height: 30px;
  line-height: 30px;
}
.top-left,
.top-bar li {
  float: left;
}
.top-left {
  position: relative;
}
.top-left .location {
  position: relative;
  z-index: 999;
}
.top-bar .location a {
  display: block;
  width: 42px;
  padding: 0 7px;
  line-height: 30px;
  border: 1px solid transparent;
  border-bottom: none;
  height: 31px;
}
.top-bar .location a:hover {
  color: #f10215;
}
.top-left:hover .location a {
  background-color: #fff;
  height: 31px;
  border: 1px solid #d8d9d9;
  border-bottom: none;
}
.top-left .location {
  display: block;
}

.top-left .menu {
  display: none;
  width: 300px;
  border: 1px solid #d8d9d9;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 99;
  top: 30px;
  padding: 10px;
  padding-bottom: 25px;
}
.menu-info {
  padding-bottom: 25px;
  border-bottom: 1px dashed rgb(204, 204, 204);
}
.menu .item {
  float: left;
  height: 28px;
  width: 60px;
  padding: 2px 0;
}

.menu .item a {
  /* border: 1px red solid; */
  display: inline-block;
  height: 24px;
  /* width: 40px; */
  padding: 0 8px;
  line-height: 24px;
}
.menu .item a:hover {
  color: #f10215;
  background-color: #f4f4f4;
}
.menu .one a {
  background-color: #f10215;
  color: #fff;
}
.top-left:hover .menu {
  display: block;
}
.top-left i {
  color: #f10215;
  font-size: 14px;
  margin-right: 2px;
}
.top-right {
  float: right;
}
.top-right i {
  color: #999999;
  font-size: 12px;
}
.top-right .right-line {
  float: left;
  width: 1px;
  height: 10px;
  background-color: rgb(204, 204, 204);
  margin: 12px 12px;
}

.top-right .font {
  color: #f10215;
}

.top-right div {
  float: left;
}
.top .myjd {
  position: absolute;
}
.top-right .jd {
  width: 70px;
  height: 31px;
  padding-left: 8px;
  border: 1px solid transparent;
  border-bottom: none;
  position: relative;
  z-index: 999;
  line-height: 27px;
}
.myjd:hover .jd {
  background-color: #fff;
  border: 1px solid #d8d9d9;
  border-bottom: none;
}
.myjd .myjd-info {
  display: none;
  position: absolute;
  z-index: 99;
  top: 30px;
  width: 200px;
  height: 160px;
  background-color: #fff;
  border: 1px solid #d8d9d9;
}
.myjd .myjd-info div {
  font-size: 14px;
  color: #999;
  margin: 8px 10px;
}
.myjd:hover .myjd-info {
  display: block;
}
.top .mykehu {
  position: absolute;
}
.top-right .kehu {
  width: 70px;
  height: 31px;
  padding-left: 8px;
  border: 1px solid transparent;
  border-bottom: none;
  position: relative;
  z-index: 999;
  line-height: 27px;
}
.mykehu:hover .kehu {
  background-color: #fff;
  border: 1px solid #d8d9d9;
  border-bottom: none;
}
.mykehu .mykehu-info {
  display: none;
  position: absolute;
  z-index: 99;
  top: 30px;
  width: 170px;
  height: 160px;
  background-color: #fff;
  border: 1px solid #d8d9d9;
}
.mykehu .mykehu-info div {
  font-size: 14px;
  color: #999;
  margin: 8px 10px;
}
.mykehu:hover .mykehu-info {
  display: block;
}
.myqiye {
  position: relative;
}
.myqiye .qiye {
  line-height: 27px;
  position: relative;
  z-index: 999;
  width: 70px;
  height: 30px;
  padding-left: 8px;
  border: 1px solid transparent;
  border-bottom: none;
}
.myqiye:hover .qiye {
  background-color: #fff;
  border: 1px solid #d8d9d9;
  border-bottom: none;
}
.qiye-info {
  display: none;
  position: absolute;
  z-index: 99;
  top: 30px;
  left: 0;
  width: 154px;
  height: 140px;
  background-color: #fff;
  border: 1px solid #d8d9d9;
}
.qiye-info div {
  font-size: 14px;
  color: #999;
  margin: 5px 10px;
}
.myqiye:hover .qiye-info {
  display: block;
}
.iphone {
  position: relative;
  /* border: 1px solid; */
}
.down-img {
  position: absolute;
  z-index: 9;
  margin: 5px auto;
  left: -10px;
  float: left;
  width: 60px;
  height: 60px;
  background-color: #f6f6f6;
  padding: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.iphone .line {
  display: none;
  position: absolute;
  z-index: 999;
  border: 6px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  bottom: -2px;
  width: 0;
  left: 20px;
}
.iphone:hover .line {
  display: block;
}
.iphone .ma {
  display: none;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 5px;
  position: absolute;
  z-index: 99;
  top: 30px;
  /* left: 0; */
  right: -14px;
  width: 190px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #d8d9d9;
}
.iphone:hover .ma {
  display: block;
}
.ma-img {
  width: 70px;
  height: 7px;
}
.iphone .ma img {
  width: 70px;
}
.iphone-info {
  position: absolute;
  top: 30px;
  right: 20px;
}
.iphone-info span {
  display: block;
}
.iphone-info span:nth-child(1) {
  color: #333;
  font-weight: bold;
}
.iphone-info span:nth-child(2) {
  color: #f10215;
}
.banner-wrapper {
  width: 100%;
  background-color: #fff;
  height: 80px;
  margin-top: -3px;
}
.wrapper {
  width: 1210px;
  margin: 0 auto;
}
.banner-img {
  float: left;
  margin-left: -80px;
  width: 158px;
  height: 80px;
  background: url(../myjd.img/common.png);
  margin-right: 10px;
}
.banner-ziti {
  float: left;
  width: 100px;
}
.banner-ziti1 {
  width: 80px;
  height: 20px;
  margin: 20px 0 0 12px;
}
.banner-ziti1 a {
  font-size: 20px;
  color: #333;
}
.banner-ziti2 {
  float: left;
}
.banner-ziti2 a {
  width: 88px;
  height: 18px;
  margin: 8px 0 0;
  border: 1px solid #666;
  display: inline-block;
  line-height: 18px;
  padding: 0 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 13px;
  color: #666;
}

.banner-ziti2 a:hover {
  /* background-color: #ffb2b2; */
  color: #e2231a;
}

.banner-nav {
  width: 342px;
  height: 36px;
  float: left;
  line-height: 36px;
  padding: 22px 0;
  margin: 0 0 0 30px;
  font-size: 14px;
}
.banner-nav li {
  float: left;
  margin: 0 20px 0;
}
.banner-nav li a {
  color: #e2231a;
}
.search {
  float: left;
  width: 350px;
  /* margin-right: 0px; */
  margin-left: 220px;
  /* border: 1px solid; */
}
.search-logo {
  float: left;
  /* border: 1px solid ; */
  margin-top: 20px;
}
.search-logo input {
  float: left;
  width: 120px;
  height: 24px;
  padding: 4px;
  outline: none;
  border: 1px solid #e2231a;
}
.search-logo button {
  width: 44px;
  height: 34px;
  padding: 1px 6px;
  background-color: red;
  color: #fff;
  border: 1px solid #e2231a;
}
.shop-wrapper {
  float: left;
}
.shop-wrapper .shop {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  width: 134px;
  height: 33px;
  padding: 0 10px 0 10px;
  border: 1px solid #ddd;
  line-height: 34px;
  /* text-align: center; */
}
.shop i {
  margin: 0 10px 0 10px;
}
.shop a {
  font-size: 14px;
  color: #f10215;
}
.shop span {
  color: #666;
}
.shop:hover {
  border-color: #f10215;
}
.container {
  width: 100%;
  background-color: #f0f3ef;
  height: 1000px;
}
.container-wrapper {
  /* border: 1px solid; */
  width: 1210px;
  margin: 0 auto;
}
.container-left {
  float: left;
  width: 170px;
  background-color: #fff;
  /* padding-left: 10px; */
}
.container-left .container-first {
  width: 130px;
  height: 96px;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #f3f3f3;
}
.container-left .container-ser {
  width: 130px;
  height: 224px;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #f3f3f3;
}
.container-left .container-thr {
  width: 130px;
  height: 96px;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #f3f3f3;;
}
.container-left .container-four {
  width: 130px;
  height: 224px;
  padding: 15px 20px 15px 20px;
}

.container-first li.menu,
.container-ser li.menu,
.container-thr li.menu,
.container-four li.menu {
  line-height: 32px;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}
.container-left li a {
  color: #333;
  line-height: 32px;
  font-size: 14px;
}

.container-left li a:hover {
  color: #e2231a;
  /* text-decoration: underline; */
}
.container-right {
  float: left;
  width: 1000px;
  padding-left: 20px;
  /* background-color: #333; */
}
.container-right .container-top {
  width: 1000px;
  height: 243px;
  /* background-color: #fff; */
  margin: 20px 0;
}
.container-top .left{
  width: 250px;
  float: left;
  height: 243px;
  /* background-color: #e2231a; */
  box-shadow: 2px 2px 10px  rgb(0 0 0 / 30%);
}
.left .mc{
  position: relative;
  width: 250px;
  height: 187px;
  background-color: #e2231a;
}
.left .mc::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: url(../myjd.img/c-01.png);
}
.left .mc a,
.left .mc a img{
  width: 64px;
  height: 64px;
}
.left .mc a{
  display: block;
  position: absolute;
  top: 60px;
  left: 84px;
  z-index: 2;
  border-radius: 100%;
  border: 4px solid #fff;
  box-shadow: 3px 2px 10px rgb(79 5 1 / 84%);
  overflow: hidden;
}
.left .mt{
  width: 210px;
  height: 36px;
  padding: 10px 20px;
  background-color: #232332;
}
.left .text{
  float: left;
  width: 115px;
  height: 36px;
  margin-right: 10px;
  color: #f4ca3a;
  /* font-size: 13px; */
}
.left .text em{
  font-size: 13px;
  font-weight: bold;
}
.left .text span{
  display: inline-block;
  font-size: 12px;
  width: 120px;
  margin-top: 5px;
}
.mt .button{
  float: right;
  padding: 0 10px;
  margin-top: 5px;
  height: 26px;
  line-height: 26px;
  border-radius: 14px;
  background-color: #f4ca3a;
  color: #232332;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}
.right{
  float: left;
  width: 750px;
  height: 225px;
  margin: 9px 0px;
  background-color: #fff;
}

.right .mb{
  width: 710px;
  height: 55px;
  padding: 0 20px;
  border-bottom: 1px solid #f0f3ef;
  overflow: hidden;
}
.right .mb h3{
  line-height: 55px;
  font-size: 16px;
  color: #333;

}
.mc ul{
  width: 710px;
  height: 129px;
  padding: 20px;

}
.mc ul .num{
  padding-top:10px;
  height: 24px;
  line-height: 24px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
.mc ul .name{
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  margin-bottom: 36px;

}
.mc ul .operate{
  font-size: 12px;
  color: #4184E8;
}
.mc .fore0{
  float: left;
  width: 36px;
  height: 129px;
  color: #333;
  margin-right: 85px;
}
.mc .fore1{
  float: left;
  width: 89px;
  height: 129px;
  color: #333;
  margin-right: 85px;
}
.mc .fore2{
  float: left;
  width: 49px;
  height: 129px;
  color: #333;
  margin-right: 85px;
}
.mc .fore3{
  float: left;
  width: 72px;
  height: 129px;
  color: #333;
  margin-right: 85px;
}
.mc .fore4{
  float: left;
  width: 120px;
  height: 129px;
  color: #333;
}
.container-banner{
  float: left;
  width: 694px;
  height: 396px;
  background-color: #fff;
  margin-bottom: 20px;
}
.container-banner .ma{
  width: 654px;
  height: 55px;
  line-height: 55px;
  padding: 0 20px;
  border:1px solid  #f0f3ef;
}
.container-banner .ma h3{
  font-size: 16px;
  color: #333;
  float: left;
}
.md div img{
  width: 75px;
  height: 58px;
}
.container-banner .md div{
  float: left;
  width: 100px;
  height: 100px;
  font-size: 12px;
  margin:30px 18px;
}
.box2{
  width: 286px;
  margin-left: 20px;
  float: left;
}
.box2 .me{
  width: 286px;
  height: 156px;
  margin-bottom: 20px;
  background-color: #fff;
}
.box2 .me1{
  padding: 0 20px;
  line-height: 55px;
  border-bottom: 1px solid #f0f3ef;
  font-size: 16px;
  color: #666;
}
.box2 ul{
  width: 246px;
  height: 60px;
  padding: 20px;
}
.me .fore1{
  float: left;
  margin: 0 30px;
  width: 60px;
  height: 60px;
  line-height: 30px;
  color: #333;
  font-size: 12px;
}
.me .fore1 .num{
  font-size: 16px;
}
.container-bottom {
  float: left;
  width: 1068px;
  height: 100px;
  padding: 10px;
  background-color: #fff;
} 
.bottom-font {
  margin-top: 20px;

  width: 1210px;
  margin: 0 auto;
}
.bottom-font ul li {
  float: left;
  margin: 10px 42px;
}
.bottom-font span {
  color: #444;
  display: inline-block;
  height: 45px;
  margin-top: 13px;
  font-size: 20px;
  font-weight: bold;
}
.bottom-font ul li .img {
  display: block;
  float: left;
  overflow: hidden;
  width: 45px;
}
